services:
  - type: web
    name: chess-app
    env: node
    buildCommand: npm install --prefix chess-front --include=dev && npm run build --prefix chess-front && npm install --prefix chess-server --omit=dev
    startCommand: npm --prefix chess-server start
    envVars:
      - key: NODE_ENV
        value: production
      - key: MONGO_URI
        sync: false
      - key: JWT_SECRET
        sync: false
      - key: GOOGLE_CLIENT_ID
        sync: false
